ZONEWORLD_SCENARIOS="ZW-A1 ZW-A2 ZW-A3 ZW-A4 ZW-A5 ZW-B1 ZW-B2 ZW-B3 ZW-B4 ZW-B5 ZW-B6 ZW-B7 ZW-B8 ZW-C1 ZW-C2 ZW-C3 ZW-C4 ZW-D1 ZW-D2 ZW-E1 ZW-E2 ZW-E3 ZW-E4 ZW-E5 ZW-E6 ZW-F1 ZW-F2 ZW-F3 ZW-F4 ZW-G1 ZW-G2 ZW-G3 ZW-G4 ZW-G5"
